<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snow Globe Collector</title>
</head>
<body>
       {% extends 'base.html' %} 
       {%block content%}
       <li><a href="/base">Base</a></li>

    <h1>Welcome {{name}} to the official Snow Globe Collector Catalog</h1>
    <hr />
    <p>We are the leaders of catagorizing snow globe collections from one specific snow globe collector.</p>
        
    <footer>All Rights Reserved, &copy; 2022 Snow Globe Shmoe Globe</footer>

    {% endblock %}
</body>
</html>